.day {
   position: relative;
   display: flex;
   flex-direction: column;
}

.day__name, .day__number {
   margin: 0;
   padding: 0;
   text-align: center;
}

.day__name {
   font-size: 32px;
   line-height: 40px;
   letter-spacing: 0.2em;
   text-align: center;
   margin:0;
   padding: 0;
}

.day__number {
   font-size: 70px;
   line-height: 100px;
   text-align: center;
}



.day__weather {
   display: flex;
   flex-direction: column;
   height: 95%;
   justify-content: flex-end;
   align-items:center;
}

.day__weather--icon {
   height: auto;
   width: 190px;
   position: absolute;
   z-index: 1;
   top:150px;
}

.day__weather--cloudy {
   width: 200px;
   top:160px;
}

.day__weather--sunny {
   width: 180px;
   top:140px;
}

.day__weather--rainy {
   top:125px;
   left: 20px; 
   width: 150px;
}

.day__weather--stormy {
   width: 200px;
   left: -14px;
}

.day__weather--snowy {
   width: 160px;
   left: 0px;
}


.day__temperature {
   font-family: "Oswald";
   font-size: 100px;
   margin: -1rem 0 3rem;
   line-height: 100px;
}

/*clases colores para la fuente de .day__temperature*/
.day__temperature--blue{
   color: #4DB0D3;   
}

.day__temperature--yellow{
   color: #E6DF95;   
}

.day__temperature--black{
   color: #0E2E3A;   
}

.day__temperature--symbol {
   font-size: 30px;
   line-height: 34px;
   width: 80%;
   text-align: right;
   margin:0;
   margin-top:2rem;
   padding: 0;
}

.day__precip-low {
   font-family: "Oswald";
   font-size: 30px;
   height: 45px;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
   gap:0.1rem;
}

.day__precip-low span {
   width: 4px;
}

/*clases de colores para los textos de precipitacion y mínimas*/
.day__precip-low--white {
   color:#D3EBF4;
}

.day__precip-low--blue{
   color:#247490;
}






