.day {
   position: relative;
   display: flex;
   flex-direction: column;
}

.day__name, .day__number {
   margin: 0;
   padding: 0;
   text-align: center;
}

.day__name {
   font-size: 32px;
   line-height: 40px;
   letter-spacing: 0.2em;
   text-align: center;
   margin:0;
   padding: 0;
}

.day__number {
   font-size: 70px;
   line-height: 100px;
   text-align: center;
}


.day__weather {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items:center;
}

.day__weather--icon {
   height: auto;
   width: 150px;
   /*position: absolute;*/
   z-index: 10;
   left:0;
   top:40px;
}

.day__temperature {
   font-family: "Oswald";
   font-size: 100px;
   margin: -1rem 0 3rem;
   line-height: 100px;
}

.day__temperature--symbol {
   font-size: 30px;
   line-height: 34px;
   width: 80%;
   text-align: right;
   margin:0;
   margin-top:2rem;
   padding: 0;
}

.day__precip-low {
   font-family: "Oswald";
   font-size: 30px;
   height: 45px;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
   gap:0.1rem;
}

.day__precip-low span {
   width: 4px;
}






