#root {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
=======
=======
>>>>>>> cd32b1a046aff4f75aa395228e838761dba9108d
  /*width: 99vw;*/
  max-width: 99vw;
  margin: 0 auto;
  /*padding: 1rem;
  text-align: center;*/
<<<<<<< HEAD
>>>>>>> cd32b1a046aff4f75aa395228e838761dba9108d
=======
>>>>>>> cd32b1a046aff4f75aa395228e838761dba9108d
}
