@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oswald&display=swap');


:root {
  font-family: "Krona One", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #4DB0D3;
  background-color: #E9F5FA;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  margin:0;
  padding: 0;
  font-size: 3.2em;
  line-height: 1.1;
} */

